<div class="assessment-overview">
  <div class="title">Assessment Overview</div>
  <div class="assessment-overview__details">
    <div class="info first">
      <div class="info__title">Total Assessment</div>
      <div class="info__desc">
        <img class="icon" src="../../../assets/icons/view_agenda.svg" alt="Total Assessment">
        <div class="info-box">
          <span class="value">34</span>
        </div>
      </div>
    </div>
    <div class="info third">
      <div class="info__title">Candidates</div>
      <div class="info__desc">
        <img class="icon" src="../../../assets/icons/user.svg" alt="Candidates">
        <div class="info-box">
          <span class="value">11,145</span>
          <span class="growth">+89</span>
          <label class="label">Total Candidate</label>
        </div>
        <div class="info-box">
          <span class="value">1,14</span>
          <span class="growth">+89</span>
          <label class="label">Who Attempted</label>
        </div>
      </div>
    </div>
    <div class="info fourth">
      <div class="info__title">Candidates Source</div>
      <div class="info__desc">
        <img class="icon" src="../../../assets/icons/web_globe.svg" alt="Candidates Source">
        <div class="info-box">
          <span class="value">11,000</span>
          <span class="growth">+89</span>
          <label class="label">E-mail</label>
        </div>
        <div class="info-box">
          <span class="value">145</span>
          <span class="growth">+89</span>
          <label class="label">Social Share</label>
        </div>
        <div class="info-box">
          <span class="value">145</span>
          <span class="growth">+89</span>
          <label class="label">Unique Link</label>
        </div>
      </div>
    </div>
    <div class="info second">
      <div class="info__title">Total Purpose</div>
      <div class="info__desc">
        <img class="icon" src="../../../assets/icons/hyperlink.svg" alt="Total Purpose">
        <div class="info-box">
          <span class="value">11</span>
        </div>
      </div>
    </div>
  </div>
</div>
